rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /products/{productId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /orders/{orderId} {
      allow read, write: if request.auth != null;
    }

    match /customers/{customerEmail} {
      allow read, write: if request.auth != null;
    }

    match /carts/{customerEmail} {
      allow read, write: if request.auth != null;
    }

    match /deliveries/{deliveryId} {
      allow read, write: if request.auth != null;
    }

    match /wishlists/{email} {
      allow read, write: if request.auth != null;
    }

    match /feedback/{feedbackId} {
      allow read, write: if request.auth != null;
    }

    match /giftCards/{code} {
      allow read, write: if request.auth != null;
    }

    match /settings/{docId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /stockNotifications/{id} {
      allow read, write: if request.auth != null;
    }

    match /coupons/{code} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }

    match /couponUsage/{id} {
      allow read, write: if request.auth != null;
    }
  }
}